<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2> It is working !</h2>    

            <button class="btn btn-primary " (click)="gettestcall()"> Save Server   </button>
        </div>
    </div>
</div>