 <app-fieldplan></app-fieldplan>

 ====================================
<app-header (featureSelected)='onNavigate($event)' ></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
           <app-recipes *ngIf="loadedFeature=='recipes'"></app-recipes>  
           <app-shopping-list *ngIf="loadedFeature!='recipes'" ></app-shopping-list>       
          
        </div>
    </div>
</div>

    