<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
         <div *ngIf="!onlyOdd">
          <li
           class="list-group-item"
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div>


        <ng-template [ngIf]="!onlyOdd">
          <div>
           <li
              class="list-group-item"
              [ngClass]="{odd: even % 2 !== 0}"
             [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
              *ngFor="let even of evenNumbers">
             {{ even }}
           </li>
          </div>
        </ng-template>  -->

        =============================================================
        <p> *appUnless</p>
         <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div>  
        <p> only appUnless</p>
        <ng-template [appUnless]="onlyOdd">
          <div>
           <li
              class="list-group-item"
              [ngClass]="{odd: even % 2 !== 0}"
             [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
              *ngFor="let even of evenNumbers">
             {{ even }}
           </li>
          </div>
        </ng-template>  
        ===================================================================
      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p appBetterHighlight defaultColor="yellow" highlightColor="purple" >Style me with a better directive!</p>

    </div>
  </div>
</div>